[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
tensorflow = "*"
matplotlib = "*"
seaborn = "*"
keras = "*"
sklearn = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
